<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
     integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
     crossorigin=""></script>
   <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js"></script>
   <link rel="stylesheet" href="./src/scss/style.css"/>

</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="./src/script.js"></script>

  <nav class="navbar navbar-light border-bottom navbar-expand-lg px-1">
    <button id="sidebar-btn" class="btn btn-sm rounded-circle py-2" style="color: #008acf;" type="button" name="button">
      <span class="material-icons">vertical_split</span>
    </button>

    <a class="navbar-brand" href="#">
      <img src="img/comLogo.png" width="30" height="30" class="d-inline-block align-middle" alt="">
      <img src="img/titleName.png" width="100" height="25" class="d-inline-block align-middle" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">模組一<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">模組二</a>
        <a class="nav-item nav-link" href="#">模組三</a>
      </div>
    </div>
  </nav>
  <div class="row text-center border-bottom mx-0">
    <div class="col-sm-12 font-weight-bold map-title py-2">A棟6樓</div>
  </div>

  <div class="row mx-0" style="">
      <!-- <div class="row title-col py-2">
        <div class="text-right text-white col-sm-12">
          說明: 按住右側欄位之圖釘圖案，並拖曳到圖片上想放置的位置放下即可完成打點。點選圖釘可以編輯內容說明。
        </div>
      </div> -->
      <div class="outer-side-col px-2 shadow col-sm-2" style="left: 0px;">
        <ul class="pr-0">
          <li>
            <div class="side-item">儀表板</div>
          </li>
          <li>
            <div class="side-item">工程管理</div>
          </li>
          <li class="side-item-active">
            <div class="side-item">標示模組</div>
          </li>
          <li>
            <div class="side-item">相片系統</div>
          </li>
        </ul>
      </div>
      <div class="static-map-col col-sm-8 px-0">
        <div id="static-map" class="bg-light">
        </div>
      </div>
        <div id="normal-side-menu" class="side-menu col-sm-2 px-0 border-left">
          <div class="side-menu-dropdown">
            <div>
              <button id="create-location-btn" class="btn btn-success location-btn" type="button">
                <span class="material-icons align-middle">
                  add
                </span> 
                <span class="align-middle">
                  新增區域
                </span> 
              </button>
              <button id="save-location-btn" class="btn btn-primary location-btn" type="button" style="display: none;">
                <span class="material-icons align-middle">
                  save
                </span> 
                <span class="align-middle">
                  確定新增
                </span> 
              </button>
            </div>
            <div class="dropdown-toggle py-2 px-2 text-center side-menu-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              類別選單
            </div>
            <div class="dropdown-menu shadow text-center" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">設備</a>
              <a class="dropdown-item" href="#">水電</a>
            </div>
          </div>
          <ul class="px-0" id="side-menu-item">
            <li class="item-li" v-for="item in subCategory">
              <img class="draggable-marker" :src="item.icon" alt="marker" :name="item.name" :due_date="item.due_date" :company="item.company" :category="item.category" :detail_name="item.detail_name"/>
              <div class="marker-name btn btn-light marker-filter" filter="off">{{ item.name }}</div>
            </li>
          </ul>
        </div>
        <div id="device-side-menu" class="side-menu col-sm-2 px-0 border-left" style="display: none;">
          <ul class="px-0" id="device-side-menu-item">
            <li class="item-li" v-for="item in subCategory">
              <img class="draggable-marker" :src="item.icon" alt="marker" :name="item.name" :due_date="item.due_date" :company="item.company" :category="item.category" :detail_name="item.detail_name"/>
              <div class="marker-name btn btn-light marker-filter" filter="off">{{ item.name }}</div>
            </li>
          </ul>
        </div>
  </div>

  <footer class="footer text-center bg-white px-3 py-3 border-top">
   © 2020 GENCHI ARCHITECTURE & CONSTRUCTION CO.LTD 晉基建設
  </footer>

  <!-- <hr>

  <form class="mb-0">
    <div class="px-3 py-2 bg-info">
      <div class="form-group mb-0">
        <label for="inputImg" class="pr-2 text-white">上傳圖片</label>
        <input class="align-middle btn btn-light" id="inputImg" type='file' accept="image/gif, image/jpeg, image/png"/>
      </div>
    </div>
  </form>
  <div id="mapid" class="bg-light border">

  </div> -->
  <script src="https://unpkg.com/interactjs@latest/dist/interact.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="./src/jquery-touch-punch.min.js"></script>
</body>
